@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Material Icons sizing */
.material-icons-72 { font-size: 72px; }
.material-icons-48 { font-size: 48px; }
.material-icons-24 { font-size: 24px; vertical-align: middle; }
.material-icons-12 { font-size: 12px; }

.material-icons-cm {
    font-size: 1.10rem;
    vertical-align: middle;
}
.material-icons-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

/* Material Symbols */
.material-symbols-outlined.filled {
    font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48;
    color: #475569;
}

.material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48;
    color: #475569;
}

.material-symbols-outlined-white {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48;
    color: #FFFFFF;
}

.material-symbols-outlined-orange {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48;
    color: #e08206;
}

.material-symbols-outlined-red {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48;
    color: #FF0000;
}

/* Select dropdown arrow on hover */
.reactive-arrow:hover {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
    background-position: right .75rem center;
    background-size: 16px 12px;
    background-repeat: no-repeat;
}
